setuptools>=68.2.2
wheel>=0.41.3
certifi>=2023.7.22
line_profiler>=4.1.1
memory_profiler>=0.61.0
nltk>=3.8.1
numpy>=1.25.2
opencv_python>=4.8.1.78
Pillow>=10.1.0
pygame>=2.5.2
pymongo>=4.5.0
PySimpleGUI>=4.60.5
python-dotenv>=1.0.0
pytube>=15.0.0
tqdm>=4.66.1
